.about-us {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  padding-top: 120px;
  padding-bottom: 50px;

  @media (min-width: 660px) {
    padding-top: 192px;
    padding-bottom: 135px;
  }
}

.about-us__title {
  position: relative;
  color: #353738;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px; //4 уже много
  width: 250px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon1.png");
    background-repeat: no-repeat;
    width: 52px;
    height: 43px;
    left: 50%;
    margin-left: -26px;
    top: -74px;
  }

  @media (min-width: 660px) {
    width: 450px;
  }
}

.about-us__description {
  color: #848789;
  background-color: transparent;
  font-size: 18px;
  line-height: 34px;
  font-weight: 300;

  width: 300px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 23px;
  text-align: center;

  @media (min-width: 660px) {
    width: 600px;
  }

  @media (min-width: 1120px) {
    width: 1050px;
  }
}
