.mailing {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-bottom: 50px;
  padding-top: 150px;
  background-color: #ffffff;

  @media (min-width: 660px) {
    padding-bottom: 111px;
    padding-top: 225px;
  }
}

.mailing__title {
  position: relative;
  margin: 0;
  padding: 0;

  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 94px;
    height: 85px;
    left: 50%;
    margin-left: -45px;
    top: -116px;
  }
}

.mailing__form {
  padding-top: 30px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 660px) {
    width: 535px;
  }
}

.mailing__input {
  box-sizing: border-box;
  width: 300px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #929292;

  padding-top: 23px;
  padding-left: 25px;
  padding-bottom: 18px;
  margin-bottom: 20px;

  @media (min-width: 660px) {
    width: 400px;
    margin-right: 5px;
    margin-bottom: 0;
  }
}

.mailing__button {
  cursor: pointer;
  width: 125px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #64c29e;

  padding-top: 23px;
  padding-bottom: 22px;
  margin-left: auto;
  margin-right: auto;
  display: block;

  border: none;

  transition: 0.5s linear;

  &:hover,
  &:focus {
    background-color: #448e72;
  }

  @media (min-width: 660px) {
    margin: 0;
    display: inline;
  }
}
