.main-nav {
  color: #4d4959;
  background-color: transparent;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 660px) {
    width: 620px;
  }
}

.main-nav__item a {
  text-decoration: none;
  color: #4d4959;

  transition: 0.3s linear;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #64c29e;
  }
}

.main-nav__item {
  @media (min-width: 660px) {
    position: relative;

    &--work {
      margin-right: 150px;

      &::before {
        position: absolute;
        content: ".";
        left: -35px;
      }
    }

    &--contact {
      &::before {
        position: absolute;
        content: ".";
        left: -35px;
      }
    }
  }
}
