.page-header {
  position: relative;
  background-image: url("../img/photo-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  box-sizing: border-box;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 94px;
    height: 85px;
    left: 50%;
    margin-left: -40px;
    top: 65px;
  }

  @media (min-width: 660px) {
    padding-top: 67px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/logo.png");
      background-repeat: no-repeat;
      width: 94px;
      height: 85px;
      left: 50%;
      margin-left: -40px;
      top: 35px;
    }
  }
}
