@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
